<ion-view view-title="Convidar pupilo" name="newPupil-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Nome" ng-model="data.name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Curso do Alura" ng-model="data.course">
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Limite em semanas" ng-model="data.timeLimit" value="{{data.timeLimit}}"> {{data.timeLimit}} semanas
          </label>
          <div class="card">
  <div class="item item-text-wrap">
    {{data.nome || "Seu pupilo"}} terá {{data.timeLimit}} semanas para estudar {{data.course}} e ganhar 5 estrelas. A cada {{data.timeLimit / 5}} dias de atraso, perde 1 estrela.
  </div>
</div>
      </div>
      <button class="button button-block button-calm" ng-click="invite(data)">Enviar o convite</button>
  </ion-content>
</ion-view>